body {
    font-family: 'Bai Jamjuree', sans-serif;
}

p {
    font-size: 1.5vw;
    color: black;
}

.btn-custom {
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
    border-radius: 8px;
    border-style: none;

    padding: 10px 16px;

    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
  }

.btn-reset {
    color: rgb(190, 9, 9);
    font-size: 14px;
    text-decoration: underline;
    border: none;
    background-color: inherit;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}